<launch>
  <arg name="drixNumber"/>
  <arg name="namespace" default="project11/drix_$(arg drixNumber)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="$(arg namespace)"/>
    
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ns="$(arg namespace)"/>
</launch>
